@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    /* background-color: #11141a; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body {
    overflow-x: hidden;
    font-family: 'JetBrains Mono', monospace;
}

.logo{
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.logo:hover{
    color: #00ff99;
}

nav a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active{
    color: #00ff99;
}

section {
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home {
    background-color: #1c1c22;
    color: #00ff99;
}

#Education {
    background-color: #1c1c22;
    color: #00ff99;
}

#Projects {
    background-color: #1c1c22;
    color: #00ff99;
}

#Contact {
    background-color: #1c1c22;
    color: #00ff99;
}

/* .main-img {
    width: 100vw;
    height: 100vh;
    filter: brightness(0.6);
    top: 0;
    left: 0;
} */